<ion-header>
  <ion-toolbar>
    <ion-title>Notas del Curso</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="presentAddNotePopup()"
        shape="round"
        fill="outline"
      >
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let note of notes">
    <ion-card-header>
      <ion-card-title>{{ note.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <p style="margin-bottom: 15px;">{{ note.text }}</p>
      <div class="button-container">
        <ion-button (click)="presentAddNotePopup(note)" fill="clear">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteNote(note)" color="danger" fill="clear">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
